
/* estilos generales */

 *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


/* Estilos color de fondp */

body{

    background-color: #161b25


}

/* Barra de navegacion */


.navbar{

    padding: 1rem;
    background-color: #71d011;
}

.navbar-collapse{

    align-items: center;
    justify-content: space-between;
}



p{
    margin: 20px;
    color: blanchedalmond;
}








.ancla-arriba{
   padding: 10px;
   font-size: 25px;
   display: flex;
   justify-content: end;


}

/* estilos de logros */

.headerunico{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #71d011;
}


.ulunico .liunico{

display: inline-block;
padding: 30px;

}


.h1lo{

   padding: 30px;
   color: #ddddf6;

}

.h3ti{
    padding: 50px;
    color: #7111d0;

}

ol{padding: 50px;
   color: #467edd;
}

.imgc1{width: 150px;}

.imgc2{width: 300px;}

.marg1{
    padding: 10px;
    margin-top: 10px;
}

.cobo{background-color: #232b3d;
      border-radius: 50px;
}

/* estilos de galeria */

 .h1ga{

    padding: 30px;
    color: #dfead5;


}

.fose{
    width: 300px;

}



/* estilos contacto */


   .parcon{

    font-size: 25px;
   }




/* estilos de galeria grid */

.galeria{

display: grid;
grid-template-columns:repeat(3,1fr) ;
grid-template-rows: repeat(5,1fr);
padding: 10px;
gap: 10px;


}

.items:nth-child(1){


     grid-area: span 2 / span 2;

    }

.items:nth-child(9){

    grid-row-start: span 2;

}

.items:nth-child(12){

   grid-area: span 2 / span 3;

}



.imga{

width: 100%;
height: 100%;
object-fit: cover;
border-radius:10px ;
}

/* campeones estilos grid */

.campeones-grid{

    display: grid;
    grid-template-columns:(1,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-auto-rows:250px ; 
    gap: 10px;
    padding: 10px;

}



.items-campeones{
    position: relative;

    }


.img-campeones{

    width: 100%;
    height: 100%;
    object-fit:cover ;
    border-radius:10px ;


}


.text-campeones{

    position:absolute ;
    bottom:0 ;
    color: white;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(0,0,0,1));
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size:medium;
}


.h4-campeones{

    color: #7111d0;
    margin: 10px;
    
}

.arqueros{

    font-size: 30px;
}

/*
.items-campeones:nth-child(2){

    grid-column-start: span 2;

} */

.campeones-defensores{

    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows:repeat(5,3fr) ;
    gap: 10px;
    padding: 10px;

}

.campeones-defensores .items-campeones:nth-child(9){

    grid-column-start: span 2;
}



/* footer */

.footer-contacto{

    position: absolute;
    bottom: 0;
    width: 100%;
}


/* midia querys de campeones */

@media screen(min-width:768px) {

    .campeones-grid{

        grid-template-columns:repeat(2,1fr);
        grid-template-row: 1px;
    }

}