
//media querirs


/* media queries de campeones */


@media screen and (min-width:1024px) {


    .h4-campeones{

        color: #7111d0;
        margin: 5px;

    }

    .campeones-grid{

        display: grid;
        grid-template-columns: repeat(3,2fr);
        grid-template-rows: none;
        gap: 10px;
        padding: 10px;

       }




    .campeones-defensores{

        grid-template-columns:repeat(3,2fr) ;
        grid-template-rows:repeat(3,1fr) ;

    }

    .campeones-defensores .items-campeones:nth-child(9){

        grid-column-start: span 1;
}

.campeones-mediocampistas{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr) ;
    gap: 10px;
    padding: 10px;
}

.campeones-mediocampistas .items-campeones:nth-child(6){


    grid-area: span 2;
}

.campeones-delanteros{


    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows:repeat(2,1fr) ;
    gap: 10px;
    padding: 10px;


}


.campeones-delanteros .items-campeones:nth-child(1){

    grid-area: span 1 ;
}

.campeones-delanteros .items-campeones:nth-child(6){

    grid-area:span 1 ;
    border: 2px solid #eaee06;
    border-radius: 5px;
}

}




 /* media queries de logros */ 



@media screen and (min-width:768px){


    .p-logros{

        font-size: 30px;
    }

      }


        // boton de enviar 



        @media screen and (max-width:768px){

    
            .boton-enviar{
        
              background-color: #000000;
              cursor: pointer;
              border: none;
              padding:10px;
              color: white;
              font-size: 15px;
              font-weight: bold;
              position: relative;
              border-radius: 12px;
              margin-left: 124px;
              margin-bottom: 60px;
              width: 70px;
        
            }
            
         }
        


  @media screen and (max-width:578px){

    
    .boton-enviar{

      background-color: #000000;
      cursor: pointer;
      border: none;
      padding:10px;
      color: white;
      font-size: 15px;
      font-weight: bold;
      position: relative;
      border-radius: 12px;
      margin-left: 13px;
      margin-bottom: 60px;
      width: 70px;

    }
    
 }

 

//  media queries navegador hamburguesa


@media screen and (max-width:768px) {

    .img-png{

        width: 0px;
    }
    
}


 @media screen and (max-width:568px){


    .img-png{

        width: 0px;

    

    }
    
 }


@media screen and (max-width:578px) {

    
    .text-campeones{

        position:absolute ;
        bottom:0 ;
        color: white;
        background: linear-gradient(rgba(255,255,255,0.5),rgba(0,0,0,1));
        width: 100%;
        margin: 0;
        font-size:2.1vw;
        border-radius: 5px;
        padding: 5px;
       
    }
    
}
